page-user-profile {

    .center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p{
    background-color: red;
    -webkit-text-fill-color: white;
    text-align: center;
}


}
